html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

/*body {
  margin-bottom: 60px;
}*/
body {
    background-color: #000000;
}

/*Home*/
.homenav{
z-index:10;
}

.navbar a{
    color: #fff !important;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.homepagediv {
    background-image: url('../img/copy-jason-leung-poI7DelFiVA-unsplash.jpg');
    height: 600px;
    background-size: cover;
    position:relative;
}

.homepagedivAdmin {
    background-image: url('../img/sebastian-coman-photography-eBmyH7oO5wY-unsplash.jpg');
    height: 600px;
    background-size: cover;
    position: relative;
}

.homepagediv-overlay {
    position:absolute;
    width:100%;
    height:100%;
   background-color: rgba(0,0,0,0.4)
}

/*SignUp*/ /*SignUp*/ /*SignUp*/ /*SignUp*/ /*SignUp*/

.bodydiv {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: auto;
    background-color: black;
}

.leftdiv {
    background-size: cover;
    margin: 0 1px;
    width: 65%;
    justify-content: center;
    background-image: url(../img/s);
    /*background-image: url('../Video/Landing Video.mp4');*/
}

.leftdivAdLog {
    background-size: cover;
    margin: 0 1px;
    width: 65%;
    justify-content: center;
    background-image: url(../img/sara-julie-9Gz5bMWdGYE-unsplash.jpg);
    /*background-image: url('../Video/Landing Video.mp4');*/
}

.leftdivSignUp {
    background-size: cover;
    margin: 0 1px;
    width: 65%;
    justify-content: center;
    background-image: url(../img/joseph-gonzalez-zcUgjyqEwe8-unsplash.jpg);
}

.leftdivAdmin {
    background-size: cover;
    margin: 0 1px;
    width: 65%;
    justify-content: center;
    background-image: url(../img/sara-cervera-0X6sEvSJxas-unsplash.jpg);
}

.leftdivForgot {
    background-size: cover;
    margin: 0 1px;
    width: 65%;
    justify-content: center;
    background-image: url(../img/max-griss-gU_FhzOYTDw-unsplash.jpg);
}

.leftdivPrivacy {
    background-size: cover;
    margin: 0 1px;
    width: 65%;
    justify-content: center;
    background-image: url(../img/jack-shingai-MDg4GNYSRBA-unsplash.jpg);
}

.leftdivRegisterConfirmation {
    background-size: cover;
    margin: 0 1px;
    width: 65%;
    justify-content: center;
    background-image: url(../img/hello-i-m-nik-gQwSAa3fBgg-unsplash.jpg);
}


.rightdiv {
    display: flex;
    justify-content: center;
    width: 35%;
    text-align: center;
}

.form_h1 {
    padding-top: 10px;
    padding-bottom: 30px;
}

.form {
    /*border: 1.5px solid rgb(222, 222, 222);*/
    border-radius: 20px;
    width: 400px;
    height: 130px;
    margin: 50px;
    padding: 0px 0px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.login {
    width: 250px;
    height: 20px;
    /* border: 1px solid black; */
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    padding: 0;
    margin: 0;
    display: inline-block;
    justify-content: center;
}

    .login:focus {
        outline: none;
    }

.loginbutton {
    /* width: 70px;
    height: 20px;
    padding: 2.5px; */
    border: 0;
    padding: 7px 25px;
    border-radius: 5px;
    background-color: rgb(82, 109, 198);
    color: #ffffff;
}


.innerformdiv {
    display: flex;
    padding-top: 20px;
}

    .innerformdiv a {
        display: flex;
        margin-left: 55px;
        text-decoration: none;
    }

.guestdiv {
    display: flex;
    margin-top: 110px;
    padding-left: 80px;
}

    .guestdiv a {
        display: flex;
    }


/*Menu Page*/ /*Menu Page*/ /*Menu Page*/ /*Menu Page*/ /*Menu Page*/ /*Menu Page*/ /*Menu Page*/ /*Menu Page*/

.menudisplaydiv {
    display: flex;
    justify-content: center;
    height: auto;
    margin: auto;
    /*background-color: #f5f5f5;
    /* padding-top: 90px; */
    box-shadow: grey;
}

.menucard {
    display: flex;
    justify-content: center;
    border: 1px solid lightgray;
    border-radius: 20px;
    height: 350px;
    width: 100%;
    color: black;
    padding: 0px;
    padding-top: 15px;
    margin: 10px;
    background-color: white;
    background-position: center;
    box-shadow: 0 3px 6px darkgray;
}

    .menucard:hover {
        display: flex;
        justify-content: center;
        border: 1.5px solid red;
        border-radius: 20px;
        height: 350px;
        width: 100%;
        color: black;
        padding: 0px;
        padding-top: 15px;
        margin: 10px;
    }

        .menucard:hover:is(:focus, :valid) {
            box-shadow: 0 3px 6px darkgray;
        }

.menudisplaydiv-left {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 20%;
    height: 140vh;
    background-color: white;
    /* border: 1px solid lightgray; */
    margin-right: 15px;
}

    .menudisplaydiv-left div {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        width: 300px;
        margin: 20px;
        text-align: center;
        /* line-height: 75px; */
        font-size: 30px;
        /* border: 2px solid gray; */
        background-color: white;
    }

.menudisplaydiv-right {
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    width: 75%;
    height: 140vh;
}

.menudisplaydiv-right-starters {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.menudisplaydiv-right-mains {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.menudisplaydiv-right-desserts {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.menudisplaydiv-right-drinks {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: DodgerBlue;
}

    .flex-container p {
        background-color: #f1f1f1;
        margin: 10px;
        padding: 20px;
        font-size: 30px;
    }

.popup {
    width: 900px;
    height: 500px;
    background-color: black;
    border: 1px solid lightgray;
    border-radius: 6px;
    position: fixed;
    /* top: 50%;
    left: 50%; */
    top: 0;
    transform: translate(-50%, -50%);
    text-align: center;
    /* margin-top: 10px; */
    padding: 30px, 30px, 30px, 30px;
    visibility: hidden;
    z-index: 60;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
}

.checkout-popup {
    max-width: 500px;
    background-color: black;
    border: 1px solid lightgray;
    border-radius: 6px;
    position: fixed;
    /* top: 50%;
    left: 50%; */
    top: 0;
    transform: translate(-50%, -50%);
    text-align: center;
    visibility: hidden;
    z-index: 60;
    padding: 20px;
    box-sizing: border-box;
    display:flex;
}

.checkout-input{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    background: transparent;
    border: 1px solid #222;
}


.ingredient {
    width: 300px;
    height: 300px;
    background-color: whitesmoke;
    border: 0px solid black;
    border-radius: 15px;
    box-shadow: 0.5px 0.5px 3px black;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 15px; */
}

.ingredientdash {
    width: 275px;
    height: 600px;
    background-color: whitesmoke;
    border: 0px solid black;
    border-radius: 15px;
    box-shadow: 0.5px 0.5px 3px black;
    margin-bottom: 20px;
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    padding: 10px;
    /* margin: 15px; */
}

.menu-option {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    gap: 10px;
}

.crossaint {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 5px 10px;
}

.menu-btn-wrapper {
    margin-top: 15px;
}

.counter {
    justify-content: center;
    align-items: center;
    display: flex;
    /* height: 100%; */
    text-align: center;
    margin: 8px;
}

/*apply css properties to button tag*/

.bttn {
    width: 30px;
    height: 30px;
    font-size: 15px;
    background-color: rgb(82, 109, 198);
    color: honeydew;
    border: 0;
    border-radius: 5px;
    /* padding: 5px 0px; */
}

/*apply css properties to h2 tag*/

h6 {
    color: black;
    margin: 0 10px;
    font-size: 20px;
}

.comments {
    width: 300px;
    height: 140px;
    background-color: whitesmoke;
    border: 0px solid black;
    border-radius: 15px;
    box-shadow: 0.5px 0.5px 3px black;
    margin-top: 20px;
    /* margin: 15px; */
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}


    .rating > input {
        display: none;
    }

    .rating > label {
        position: relative;
        width: 1.1em;
        font-size: 2vw;
        color: #FFD700;
        cursor: pointer;
    }

        .rating > label::before {
            content: "\2605";
            position: absolute;
            opacity: 0;
        }

        .rating > label:hover:before,
        .rating > label:hover ~ label:before {
            opacity: 1 !important;
        }

    .rating > input:checked ~ label:before {
        opacity: 1;
    }

    .rating:hover > input:checked ~ label:before {
        opacity: 0.4;
    }

.open-popup {
    width: 900px;
    height: 500px;
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 6px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* margin-top: 10px; */
    padding: 30px, 30px, 30px, 30px;
    visibility: visible;
}


.popup video {
    width: 533px;
    height: 300px;
    border-radius: 5px 5px;
    /* padding-right: 15px; */
    /* margin-top: 10px; */
    /* padding-top: 10px;
    padding-right: 250px; */
}

.vl {
    border-left: 1px solid grey;
    height: 400px;
    margin-left: 570px;
    /* margin-bottom: 50px; */
    /* position: absolute;
    padding-bottom: 200px;
    right: 35%; */
    /* padding-left: 10px; */
    /* margin-right: 20px; */
    /* top: 0; */
}

.img-grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-evenly;
    /* gap: 10px; */
}

.new-card {
    width: 270px;
    height: 300px;
    border-radius: 10px;
    /* box-shadow: 1px 1px px lightgrey; */
    position: relative;
    background-size: cover;
    background-position: center;
    font-family: helvetica;
}

    .new-card:hover .new-card-body {
        display: block !important;
        box-shadow: 1px 1px 7px lightgrey;
        background-color: rgba(0, 0, 0, 0.8);
        width: 270px;
        height: 300px;
        border-radius: 10px;
    }


.food-description-header {
    color: lightgrey;
    padding-top: 20px;
    font-family: Helvetica;
    text-align: right;
}

.food-description-body {
    color: lightgrey;
    text-align: right;
}

.card-img-container {
    height: 270px;
    width: 100%;
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
}

.new-card-img {
    width: 100%;
    height: auto;
    /* border-radius: 10px 10px 0 0; */
    object-fit: cover;
}

.new-card-body {
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    background-color: #fff;
    right: 0;
    left: 0;
    display: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.container {
    width: 90%;
    margin: auto;
}

/*CART PAGE*/ /*CART PAGE*/ /*CART PAGE*/ /*CART PAGE*/ /*CART PAGE*/
/*html {
    background: #bbc3c6;
    font: 62.5%/1.5em "Trebuchet Ms", helvetica;
}*/

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

/*@font-face {
    font-family: 'Shopper';
    src: url('http://www.shopperfont.com/font/Shopper-Std.ttf');
}*/

.shopper {
    text-transform: lowercase;
    /*font: 2em 'Shopper', sans-serif;*/
    line-height: 0.5em;
    display: inline-block;
}


.h1-cart {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5em;
}

.p-cart {
    font-size: 1.5em;
    color: #8a8a8a;
}

.input-cart {
    border: 0.3em solid #bbc3c6;
    padding: 0.5em 0.3em;
    font-size: 1.4em;
    color: #8a8a8a;
    text-align: center;
}

.img-cart {
    max-width: 9em;
    width: 100%;
    overflow: hidden;
    margin-right: 1em;
}

.a-cart {
    text-decoration: none;
}

.container-cart {
    max-width: 75em;
    width: 95%;
    margin: 40px auto;
    overflow: hidden;
    position: relative;
    border-radius: 0.6em;
    background: #ecf0f1;
    box-shadow: 0 0.5em 0 rgba(138, 148, 152, 0.2);
}

.heading-cart {
  /*  padding: 10px;*/
    margin: 0px;
    position: relative;
    z-index: 1;
    color: whitesmoke;
   /* background: #f34d35;*/
}

.cart-cart {
    margin: 2.5em;
    overflow: hidden;
}

    .cart-cart.is-closed {
        height: 0;
        margin-top: -2.5em;
    }

.table-cart {
    background: #ffffff;
    border-radius: 0.6em;
    overflow: hidden;
    clear: both;
    margin-bottom: 1.8em;
}


.layout-inline-cart > * {
    display: inline-block;
}

.align-center-cart {
    text-align: center;
}

.th-cart {
    /*background: #f34d35;
    color: #fff;*/
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
}

.tf-cart {
    background: #ffffff;
    text-transform: uppercase;
    text-align: right;
    font-size: 1.2em;
}

    .tf-cart p {
        color: black;
        font-weight: bold;
    }

.col-cart {
    padding: 1em;
    width: 12%;
}

.col-pro-cart {
    width: 40%;
}

    .col-pro-cart > * {
        vertical-align: middle;
    }

.col-qty-cart {
    text-align: center;
    width: 17%;
}

.col-numeric-cart p {
    font: bold 1.8em helvetica;
}

.col-total-cart p {
    color: rgb(82, 109, 198);
}

.tf-cart .col {
    width: 20%;
}

.row-cart > div {
    vertical-align: middle;
}

.row-bg2-cart {
    background: #f7f7f7;
}

.visibility-cart-cart {
    position: absolute;
    color: #fff;
    top: 0.5em;
    right: 0.5em;
    font: bold 2em arial;
    border: 0.16em solid #fff;
    border-radius: 2.5em;
    padding: 0 0.22em 0 0.25em;
}

.col-qty-cart > * {
    vertical-align: middle;
}

.col-qty-cart > input {
    max-width: 2.6em;
}


a.qty-cart {
    width: 30px;
    height: 30px;
    font-size: 15px;
    background-color: rgb(82, 109, 198);
    color: honeydew;
    border: 0;
    border-radius: 5px;
}

    a.qty-cart:hover {
        background: #3b9ac6;
    }

.btn-cart {
    padding: 10px 30px;
    border-radius: 0.3em;
    font-size: 1.4em;
    font-weight: bold;
    background: #43ace3;
    color: #fff;
    box-shadow: 0 3px 0 rgba(59,154,198, 1)
}

    .btn-cart:hover {
        box-shadow: 0 3px 0 rgba(59,154,198, 0)
    }

.btn-update-cart {
    float: right;
    margin: 0 0 1.5em 0;
}

.transition-cart {
    transition: all 0.3s ease-in-out;
}

/*@media screen and ( max-width: 755px) {
    .container {
        width: 98%;
    }

    .col-pro {
        width: 35%;
    }

    .col-qty {
        width: 22%;
    }

    img {
        max-width: 100%;
        margin-bottom: 1em;
    }
}

@media screen and ( max-width: 591px) {
}*/

/*DASHBOARD DASHBOARD DASHBOARD DASHBOARD DASHBOARD DASHBOARD DASHBOARD DASHBOARD DASHBOARD*/
:root {
    --body-bg: #fafafb;
    --box-bg: #ffffff;
    --main-color: #0652dd;
    --text-color: #455560;
    --text-second-color: #72849ab3;
    --border-color: #e9e9e9;
    --menu-item-active-bg: rgba(62, 121, 247, 0.1);
    --box-border-radius: 15px;
    --sidebar-size: 300px;
    --sidebar-logo-img-size: 45px;
    --sidebar-logo-size: 80px;
    --profile-image-size: 45px;
    --main-header-height: 80px;
    --shadow: 0 1px 4px -1px rgb(0 0 0 / 15%);
    --darkmode-toggle-size: 20px;
}

.dark {
    --body-bg: #1a191f;
    --box-bg: #1a191f;
    --border-color: #222028;
    --text-color: #b9b9b9;
}

*-ds {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body-ds {
    font-family: "Roboto", sans-serif;
    background-color: var(--body-bg);
    color: var(--text-color);
    position: relative;
}

a-ds {
    text-decoration: none;
    color: unset;
    display: inline-block;
}

.sidebar {
    background-color: var(--box-bg);
    position: fixed;
    top: 0;
    left: 0;
    width: var(--sidebar-size);
    height: 100vh;
    box-shadow: var(--shadow);
    overflow-y: auto;
}

.dark .sidebar {
    border-right: 2px solid var(--border-color);
}

.sidebar-logo {
    height: var(--sidebar-logo-size);
    position: relative;
    padding: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .sidebar-logo img {
        height: var(--sidebar-logo-img-size);
        max-width: 100%;
    }

.sidebar-close {
    display: none;
}

.sidebar-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.sidebar-user-info {
    display: flex;
    align-items: center;
}

.sidebar-user-name {
    margin-left: 10px;
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: capitalize;
}

.profile-image {
    width: var(--profile-image-size);
    height: var(--profile-image-size);
    border-radius: 10px;
}

.btn-ds {
    background-color: transparent;
    border: none;
    outline: none;
    display: grid;
    place-items: center;
    cursor: pointer;
    color: var(--main-color);
    padding: 0.5rem;
    border-radius: 0.25rem;
}

    .btn-ds i {
        font-size: 1.25rem;
    }

.btn-ds-outline {
    border: 2px solid var(--main-color);
    transition: background-color 0.2s ease-in-out;
}

    .btn-ds-outline:hover {
        background-color: var(--main-color);
        color: #fff;
    }

.sidebar-menu {
    padding: 10px 0;
    list-style-type: none;
}

    .sidebar-menu > li > a {
        width: 100%;
        padding: 15px;
        height: 45px;
        display: flex;
        align-items: center;
        font-size: 1rem;
        font-weight: 600;
        text-transform: capitalize;
        transition: color 0.2s ease-in-out;
    }

        .sidebar-menu > li > a.active {
            background-color: var(--menu-item-active-bg);
            color: var(--main-color);
            border-right: 4px solid var(--main-color);
        }

        .sidebar-menu > li > a:hover {
            color: var(--main-color);
        }

        .sidebar-menu- > li > a > i {
            font-size: 1.5rem;
            margin-right: 10px;
        }

.sidebar-menu-dropdown {
    position: relative;
}

    .sidebar-menu-dropdown .dropdown-icon {
        position: absolute;
        right: 15px;
    }

.dropdown-icon {
    --size: 15px;
    --color: var(--text-color);
    height: var(--size);
    width: var(--size);
    position: relative;
    cursor: pointer;
}

    .dropdown-icon::after,
    .dropdown-icon::before {
        --height: 2px;
        content: "";
        width: 50%;
        height: var(--height);
        border-radius: 2.5px;
        position: absolute;
        top: calc(50% - var(--height) / 2);
        background-color: var(--color);
        transition: transform 0.3s ease;
    }

    .dropdown-icon::before {
        left: calc(50% - var(--height) / 3);
        transform-origin: center left;
        transform: rotate(-45deg);
    }

    .dropdown-icon::after {
        right: calc(50% - var(--height) / 3);
        transform-origin: right;
        transform: rotate(45deg);
    }

    .dropdown-icon.active::before {
        transform: rotate(45deg);
    }

    .dropdown-icon.active::after {
        transform: rotate(-45deg);
    }

.sidebar-menu > li > a:hover > .dropdown-icon {
    --color: var(--main-color);
}

.sidebar-menu-dropdown-content {
    padding: 0;
    height: 0;
    overflow: hidden;
    transition: height 0.25s ease-in-out;
}

    .sidebar-menu-dropdown-content > li > a {
        padding-left: 50px;
    }

.darkmode-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.darkmode-switch {
    --height: var(--darkmode-toggle-size);
    --width: calc(var(--height) * 2);
    height: var(--height);
    width: var(--width);
    border-radius: calc(var(--height) / 2);
    background-color: #f5f6fa;
    position: relative;
}

    .darkmode-switch::before {
        content: "";
        --height: 20px;
        --main-color: #0652dd;
        width: var(--height);
        height: var(--height);
        position: absolute;
        left: 0;
        border-radius: 50%;
        background-color: var(--main-color);
        transition: left 0.3s ease-in-out;
    }

    .darkmode-switch.active::before {
        left: 50%;
    }

.main {
    padding-left: var(--sidebar-size);
}

.main-header {
    height: var(--main-header-height);
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: var(--box-bg);
    box-shadow: var(--shadow);
}

.dark .main-header {
    border-bottom: 2px solid var(--border-color);
}

.mobile-toggle {
    display: none;
}

.main-title {
    text-transform: capitalize;
    font-size: 1.5rem;
}

.main-content {
    padding: 20px;
}

.box {
    background-color: var(--box-bg);
    padding: 20px;
    border: 0.5px solid var(--border-color);
    border-radius: var(--box-border-radius);
}

.box-hover:hover {
    border-color: var(--main-color);
}

.counter-title {
    margin-bottom: 20px;
    text-transform: capitalize;
}

.counter-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    font-weight: 700;
}

    .counter-info i {
        color: var(--main-color);
    }

.box-header {
    text-transform: capitalize;
    font-size: 1.25rem;
    font-weight: 700;
}

.box-body {
    padding: 20px 0;
}

.box-bodyDash {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.product-list {
    list-style-type: none;
}

.product-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.item-info {
    display: flex;
    align-items: center;
}

    .item-info img {
        width: 50px;
        height: 50px;
        border-radius: 10px;
        margin-right: 10px;
    }

.product-name,
.product-sales {
    font-weight: 600;
    text-transform: capitalize;
}

.product-name {
    margin-bottom: 5px;
}

.product-sales {
    margin-top: 5px;
}

.text-second {
    color: var(--text-second-color);
}

.item-sale-info {
    text-align: right;
}

.f-height {
    height: 100%;
}

table {
    width: 100%;
    min-width: 1000px;
}

.order-owner {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    font-weight: 500;
}

    .order-owner img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        margin-right: 15px;
    }

table thead tr {
    text-align: left;
}

table th,
table td {
    padding: 20px 0;
    border-bottom: 1px solid var(--border-color);
}

.order-status {
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: 500;
}

.order-ready {
    color: #2a59d1;
    background-color: rgba(62, 121, 247, 0.1);
}

.order-delivered {
    color: #00ab6f;
    background-color: rgba(4, 209, 130, 0.1);
}

.order-pending {
    color: darkorange;
    background-color: rgba(251, 192, 147, 0.4);
}

.payment-status {
    display: flex;
    align-items: center;
}

    .payment-status .dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 10px;
    }

.payment-paid .dot {
    background-color: #04d182;
}

.payment-pending .dot {
    background-color: #ffc542;
}

.overflow-scroll {
    overflow-y: auto;
}

.overlay-ds {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

    .overlay.active {
        display: block;
    }

@media only screen and (max-width: 1280px) {
    .sidebar {
        transition: transform 0.3s ease-in-out;
        max-width: 100%;
        z-index: 99;
        transform: translateX(-100%);
    }

        .sidebar.active {
            transform: translateX(0);
        }

    .main {
        padding-left: 0;
    }

    .mobile-toggle,
    .sidebar-close {
        display: grid;
        place-items: center;
        font-size: 2rem;
        margin-right: 30px;
        cursor: pointer;
    }

    .sidebar-close {
        position: absolute;
        right: -15px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

[class*="col-"] {
    padding: 0 15px;
    margin-bottom: 20px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/* MEDIUM SCREEN */

@media only screen and (max-width: 1280px) {
    .col-md-1 {
        width: 8.33%;
    }

    .col-md-2 {
        width: 16.66%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.33%;
    }

    .col-md-5 {
        width: 41.66%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.33%;
    }

    .col-md-8 {
        width: 66.66%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.33%;
    }

    .col-md-11 {
        width: 91.66%;
    }

    .col-md-12 {
        width: 100%;
    }
}

/* SMALL SCREEN */

@media only screen and (max-width: 850px) {
    .col-sm-1 {
        width: 8.33%;
    }

    .col-sm-2 {
        width: 16.66%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-4 {
        width: 33.33%;
    }

    .col-sm-5 {
        width: 41.66%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-7 {
        width: 58.33%;
    }

    .col-sm-8 {
        width: 66.66%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-10 {
        width: 83.33%;
    }

    .col-sm-11 {
        width: 91.66%;
    }

    .col-sm-12 {
        width: 100%;
    }
}

