@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="bodydiv">
    <div class="leftdivPrivacy" style=""></div>
    <div class="rightdiv">
        <div class="form">
<br />
<br />
            <div class="row">
<h1 class="form_h1" style="color: lightgrey">@ViewData["Title"]</h1>

                <p class="form_h1" style="color: lightgrey">
                    Right of access

You have a right to request access to the personal data that we hold about you. 
You also have the right to request a copy of the information we hold about you, and we will provide you with this unless legal exceptions apply.</p>

                <p class="form_h1" style="color: lightgrey">If you want to access your information, please send a description of the information you want to see and proof of your identity by post to the address provided below.</p>
</div>
</div>
</div>
</div>