@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email Confirmed";
}

<br />
<br />
<br />
<section>
    <p><h1 class="form_h1" style="color: lightgrey">@ViewData["Title"]</h1></p>
<partial name="_StatusMessage" model="Model.StatusMessage" />
</section>
