@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}



<div class="bodydiv">
    <div class="leftdivForgot" style=""></div>
    <div class="rightdiv">
        <div class="form">
            @*<form asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="All" class="text-danger"></div>*@
            <div asp-validation-summary="All" class="text-danger"></div>
            
                    <div class="row">
                       @* <div class="col-md-4">*@
                <br />
                <br />
                           <h1 class="form_h1" style="color: lightgrey">@ViewData["Title"]</h1>
                <h4 class="form_h1" style="color: lightgrey">Enter your email.</h4>
                            <form method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="oreoluwa@gmail.com" /><br />
                                    @*<label asp-for="Input.Email" class="form-label"></label>*@
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                         </div>
                    <button type="submit" value="Submit" class="loginbutton" id="btn_id">Reset Password</button>
                            </form>
                        @*</div>*@
                    </div>
@*                </form>*@
               </div>
            </div>
        </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
