@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<br />
<br />
<br />
<h1 class="form_h1" style="color: lightgrey">@ViewData["Title"]</h1>
<p class="form_h1" style="color: lightgrey">
    Please check your email to reset your password.
</p>
